body {
  background: url("https://png.pngtree.com/element_our/20190522/ourlarge/pngtree-canvas-texture-image_1071913.jpg");
  font-family: 'Lacquer', sans-serif;
}

#background-img {
  width: 100%;
  height: auto;
}

.calc {
  background-color: black;
  height: 400px;
  width: 320px;
  margin: auto;
  margin-top: 20%;
  border-radius: 15px;
  border-style: solid;
  border-width: 6px; 
  border-color: black;
  box-shadow: 8px 6px 7px #808080;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas: 
    "display display display display"
    "clear clear clear multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three divide"
    "zero zero decimal equals";
}

.btn {
  height: 60px;
  width: 75px;
  border-radius: 5px;
  background-color: white;
  font-family: 'Lacquer', sans-serif;
  font-size: 26px;
}

.output {
  background-color: black;
  height: 50px;
  width: 310px;
  border-radius: 15px;
  color: #d9d9d9;
  display: grid;
  align-items: center;
  justify-items: flex-end;
  font-size: 30px;
}

#display1 {
  margin-right: 10px;
}

#clear {
  width: 236px;
}

#zero {
  width: 155px;
}

#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#clear {grid-area: clear;}
#display {grid-area: display;}
#multiply {grid-area: multiply;}

#add {
  grid-area: add;
  font-size: 40px;
}
#subtract {
  grid-area: subtract;
  font-size: 40px;
}

#divide {
  grid-area: divide;
  font-size: 30px;
}

#decimal {
  grid-area: decimal;
  font-size: 40px;
}

#equals {
  grid-area: equals;
  font-size: 40px;
}
